<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="me.lehrner.spotifystreamer" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".SpotifyStreamerApplication"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustPan|stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".TopTracks"
            android:label="@string/title_activity_top_tracks"
            android:launchMode="singleTop"
            android:parentActivityName=".MainActivity"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="me.lehrner.spotifystreamer.MainActivity" />
        </activity>

        <provider
            android:name=".ArtistSuggestionProvider"
            android:authorities="me.lehrner.ArtistSuggestionProvider"
            android:exported="false" />

        <activity
            android:name=".PlayerActivity"
            android:label="@string/app_name"
            android:parentActivityName=".TopTracks"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="me.lehrner.spotifystreamer.TopTracks" />
        </activity>

        <service
            android:name=".MediaPlayerService"
            android:exported="false" >
        </service>
        <receiver android:name=".MusicIntentReceiver">
            <intent-filter>
                <action android:name="android.media.AUDIO_BECOMING_NOISY" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
